# IDE
bin
*.launch
.settings
.metadata
.classpath
.project
out
*.ipr
*.iws
*.iml
.idea

# Gradle
build
classes
.gradle
gradle.build.forge
gradle.build.ori

# Run dirs
/run
/eclipse

# Generated resources
src/generated/resources/.cache

# Repo publish dir
repo
